@media screen and (max-width: 576px) {
  .btn-responsive {
    font-size: 1rem;
    padding: 9px 11px;
  }
  header {
    padding: 33px 10px 130px 10px;
  }
  nav {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  nav ul {
    text-align: center;
  }
  .banner {
    padding: 10px;
  }
  .banner-title {
    font-size:2.5rem;
    margin-bottom: 30px;
  }
  .teams-container {
    flex-direction: column;
    padding: 50px 50px;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container{
    flex-direction: column;
    gap: 40px;
  }

  .sponsorts-img-container{
    flex-direction: column;
    gap: 30px;
  }
  .sponsorts-img-container img{
    width: 170px;
    display: block;
    margin: 0 auto;

  }
  .lady{
    flex-direction: column;
    padding: 20px;
  }
  .lady-img,.lady-content{
width: auto;
    padding: 50px;
    margin: 0 auto;
    display: block;
  }
  .lady-img img{
    width:100%;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
   bottom: 20px;
  }

  .ten-year{
  padding: 20px;
  position: relative;
  bottom:80px;
  right: 60px;
  width: 200px;
  }
  .ten-year h2{
    font-size: 2rem;
    margin-bottom: 10px;
  
  }
  .ten-year p{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  
}
@media screen and (min-width: 577px) and (max-width: 900px) {
  nav {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  header {
    padding: 33px 10px 130px 10px;
  }
  .btn-responsive {
    padding: 11px 14px;
  }
  .teams-container {
    flex-direction: column-reverse;
  }
  .teams-img-container {
    grid-template-columns: 1fr 1fr;
  }
  .facts-card-container{
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;
  }
  .lady{
    flex-direction: column;
    padding: 20px;
  }
  .lady-img,.lady-content{
width: auto;
    padding: 50px;
    margin: 0 auto;
    display: block;
  }
  .lady-img img{
    width:100%;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 30px;
   bottom: 20px;
  }

  .ten-year{
  padding: 20px;
  position: relative;
  bottom:80px;
  right: 60px;
  width: 200px;
  }
  .ten-year h2{
    font-size: 2rem;
    margin-bottom: 10px;
  
  }
  .ten-year p{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
}
